html {
  background: url('./assets/black_pattern.svg');
}

body {
  background: rgba(255, 255, 255, 0.9);
}

header {
}

a, p, li, h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 56px
}

li {
  list-style-type: none;
}

.black {
  color: #121213;
}

.white {
  color: #F9F8F8;
}

.nav {
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link-button {
  font-size: 24px;
  line-height: 17px;
  color: #F9F8F8;
  border: 2px solid #F9F8F8;
  background: #121213;
  border-radius: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 54px;
  padding-right: 54px;
}

.nav__link-button:hover {
  border-radius: 12px;
  border: 2px solid #121213;
  background: #F9F8F8;
  color: #121213;
}

.section_header {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 130px;
}

.section__1 .section_header {
    background: #D9D9D9;
}

.section__1 div {
  height: 722px;
  background: url('./assets/tyke.png') 0 0/100% 100% no-repeat;
  display: flex;
  justify-content: center;
  align-items:center;
}

.section__1 div p {
  padding: 24px 32px 24px 32px;
  border-radius: 16px;
  border: 2px;
  box-shadow: 8px 8px 0px 0px #121213;
  background: #F9F8F8;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
}

.section__2 {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: rgba(18, 18, 19, 0.85);
  padding: 100px 160px 200px 160px;
}

.with-img {
  display: flex;
  justify-content: center;
}

.section__5 .lines,
.section__2 .lines {
  position: relative;
  top: -70px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card-list li {
  display: flex;
  flex-direction: column;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 360px;
  height: 360px;
  background: linear-gradient(210deg, transparent 45px, #23232580 0) top right;
  border-radius: 12px;
  padding: 24px;
  gap: 12px
}

.card img {
  width: 160px;
}

.card-text p {
  font-family: 'Helvetica Neue';
  font-size: 32px;
  font-weight: 400;
  line-height: 38.18px;
  color: #A6A6A6;
}

.section__3 {
  padding: 200px 160px;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 100px 100px 0px 0px;
  background: rgba(255, 255, 255, 0.5);
}

.section__3 h1 {
  width: 100%;
  padding: 236px 0px;
  border-radius: 56px;
  background: #121213;
  height: auto;
}

/* slider */
.section__4 {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: rgba(18, 18, 19, 0.85);
  padding: 100px 160px 200px 160px;
}

.section__4 .lines {
  transform: rotate(100deg);
  position: relative;
  top: -80px;
}

.slide {
  display: none;
  max-height: 600px;
  min-height: 600px;
}

.slide.active {
  display: block;
}

.control {
  color: #A6A6A6;
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.control.active {
  color: #F9F8F8;
}

.controls {
  /* background:#121213;
  border-radius: 56px */
  display: flex;
  gap: 48px;
  justify-content: center;
  position: relative;
  top: 50px;
  z-index: 8;
}

.slide__content {
  width: 100%;
  max-height: 600px;
  min-height: 600px;
  display: flex;
  background: url('./assets/frame.png') 0 0/100% 100% no-repeat;
}

.img__container {
  width: 50%;
  position: relative;
	overflow: hidden;
  padding-left: 100px;
}

.slide__content img {
  /* flex-basis: 50%; */
  /* padding: 0 100px;
  width: 100%;
    height: 100%;
    object-fit: cover; */
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.slide__content-text {
  width: 50%;
  padding: 150px 100px 50px 100px;
}

.slide__content-text h3 {
  padding: 0;
  margin-bottom: 24px;
  color: #121213;
  font-family: "Helvetica Neue";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.slide__content-text p {
  color: #121213;
font-family: "Helvetica Neue";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.section__5 .lines img {
  fill: #121213;
}

.section__5 {
  padding: 200px 160px 100px;
  justify-content: center;
  align-items: center;
  border-radius: 100px 100px 0px 0px;
  background: rgba(255, 255, 255, 0.5);
}

.section__5 .hollywood {
  width: 100%;
}